<h2>Add new post</h2>
<p>
  <form action="/new" method="POST" role="form">

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your name</label>
    <textarea name="author_name" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your name" rows="1"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">For text</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your smart text" rows="15"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</p>
